:root {
  --radius: 0.625rem;
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-800);
  --card: var(--color-stone-100);
  --card-foreground: var(--color-stone-800);
  --popover: var(--color-stone-100);
  --popover-foreground: var(--color-stone-800);
  --primary: var(--color-stone-700);
  --primary-foreground: var(--color-stone-200);
  --secondary: var(--color-stone-300);
  --secondary-foreground: var(--color-stone-700);
  --muted: var(--color-stone-300);
  --muted-foreground: var(--color-stone-500);
  --accent: var(--color-stone-300);
  --accent-foreground: var(--color-stone-700);
  --destructive: var(--color-red-700);
  --border: var(--color-stone-400);
  --input: var(--color-stone-400);
  --ring: --alpha(var(--color-stone-500) / 50%);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-green-600);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-teal-600);
  --chart-5: var(--color-blue-600);
  --sidebar: var(--color-stone-200);
  --sidebar-foreground: var(--color-stone-800);
  --sidebar-primary: var(--color-stone-700);
  --sidebar-primary-foreground: var(--color-stone-200);
  --sidebar-accent: var(--color-stone-300);
  --sidebar-accent-foreground: var(--color-stone-700);
  --sidebar-border: var(--color-stone-400);
  --sidebar-ring: --alpha(var(--color-stone-500) / 50%);
}

.dark {
  --background: var(--color-stone-800);
  --foreground: var(--color-stone-200);
  --card: var(--color-stone-900);
  --card-foreground: var(--color-stone-200);
  --popover: var(--color-stone-900);
  --popover-foreground: var(--color-stone-200);
  --primary: var(--color-stone-400);
  --primary-foreground: var(--color-stone-900);
  --secondary: var(--color-stone-600);
  --secondary-foreground: var(--color-stone-200);
  --muted: var(--color-stone-600);
  --muted-foreground: var(--color-stone-400);
  --accent: var(--color-stone-600);
  --accent-foreground: var(--color-stone-200);
  --destructive: var(--color-red-600);
  --border: --alpha(var(--color-stone-100) / 10%);
  --input: --alpha(var(--color-stone-100) / 15%);
  --ring: var(--color-stone-500);
  --chart-1: var(--color-blue-700);
  --chart-2: var(--color-teal-600);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-green-600);
  --chart-5: var(--color-orange-600);
  --sidebar: var(--color-stone-900);
  --sidebar-foreground: var(--color-stone-200);
  --sidebar-primary: var(--color-blue-700);
  --sidebar-primary-foreground: var(--color-stone-200);
  --sidebar-accent: var(--color-stone-600);
  --sidebar-accent-foreground: var(--color-stone-200);
  --sidebar-border: --alpha(var(--color-stone-100) / 10%);
  --sidebar-ring: var(--color-blue-700);
}
